.button {
  margin: 20px;
  background-color: $primary;
  border-radius: 10px;
  border: 1px solid $primary-accent;
  width: 140px;
  height: 40px;
  cursor: pointer;
  line-height: 1;
}

.button:hover:not([disabled]) {
  background-color: darken($primary, 10%);
  color: darken(white, 30%)
}

.button:active:not([disabled]) {
  background-color: darken($primary, 20%);
  border: 1px solid darken($primary, 10%);
  color: darken(white, 70%)
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}


// Not sure this is correct BEM syntax - incorrect use of modifier? - revisit later

.button--generate {
  margin: 50px;
  height: 80px;
  width: 500px;
  border-radius: 15px;
  font-size: 25px;
  letter-spacing: 3px;
}

.delete--button {
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: grey;
  border: 1px solid rgb(164, 164, 164);
  margin: 0 0 0 15px;
}

.delete--button:hover:not([disabled]) {
  background-color: rgb(115, 0, 0);
  border: 1px solid rgb(120, 120, 120)
}

.delete--button:active:not([disabled]) {
  background-color: rgb(101, 0, 0);
  border: 1px solid rgb(100, 100, 100);
  color: darken(white, 70%)
}

.reset-button {
  width: 100px;
  height: 30px;
  background-color: grey;
  border: 1px solid rgb(164, 164, 164);
}

.reset-button:hover:not([disabled]) {
  background-color: rgb(115, 0, 0)
}

.reset-button:active:not([disabled]) {
  background-color: rgb(101, 0, 0);
  border: 1px solid rgb(100, 100, 100);
  color: darken(white, 70%)
}
